@font-face {
	font-family: 'BonvenoCFLight';
	src: url('BonvenoCF-Light-webfont.eot');
	src: local('☺'), url('fonts/BonvenoCF-Light-webfont.woff') format('woff'), url('fonts/BonvenoCF-Light-webfont.ttf') format('truetype'), url('fonts/BonvenoCF-Light-webfont.svg#webfontlHdEWql0') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'BonvenoCFLight';
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60pt;
}

img#bouquet {
  float: left;
  width: 500px;
}
