@font-face {
	font-family: 'BonvenoCFLight';
	src: url('fonts/BonvenoCF-Light-webfont.eot');
	src: local('☺'), url('fonts/BonvenoCF-Light-webfont.woff') format('woff'), url('fonts/BonvenoCF-Light-webfont.ttf') format('truetype'), url('fonts/BonvenoCF-Light-webfont.svg#webfontlHdEWql0') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'BonvenoCFLight';
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50pt;
  letter-spacing: -.12em;
  margin-bottom: .50em;
}

h2 {
  font-size: 40pt;
  letter-spacing: -.15em;
}

h3 {
  font-size: 30pt;
  letter-spacing: -.12em;
}

h4 {
  font-size: 20pt;
  letter-spacing: -.1em;
}

/* HACK: Fix letter spacing in chrome. */
@media screen and (-webkit-min-device-pixel-ratio:0) {

h1, h2, h3, h4{
  letter-spacing: -.07em;
}

}


a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

body {
  padding: 0;
  margin: 0;
}

div#content {
  margin: 2em 4em 0em 2em;
  max-width: 75em;
  min-height: 850px; /* So the image fits. */
  background-image: url('images/bouquet-blue-sm.jpg');
  background-repeat: no-repeat;
  text-align: right;
}

div#content1 {
  /* This exists to hack around ie's lack of gradients. Just apply a 80%-opaque
   * white background over the whole image.*/
  width: 100%;
  height: 100%;

  /* \9 is a hack to target ie8 and below. */
  background: white\9;
  filter: alpha(opacity='80')\9;
}

div#content2 {
  min-height: 850px;
  max-width: 40em;
  padding-left: 6em;
  float: right;
  background:
    -webkit-gradient(linear, left top, right top,
                     color-stop(0%, rgba(255,255,255,.1)),
                     color-stop(15%, rgba(255,255,255,.8)));
  background:
    -moz-linear-gradient(left,
                         rgba(255,255,255,.1) 0%,
                         rgba(255,255,255,.8) 15%);
}

.body-text {
  text-align: left;
  font-size: 13pt;
}

div#faq, div#guestbook {
  display:none;
}

div#faq-below {
  padding-bottom: 3em;
}

ul#menu {
  margin-bottom: 2em;
  font-size: 16pt;
}

ul#menu li {
  text-align: left;
  display: inline;
  margin-left: 1em;
}

ul#menu span {
  display: none;
}

div#date-location {
  margin-top: 3em;
  margin-bottom: 3em;
}

dl p {
  margin-top: 1em;
  margin-bottom: 1em;
}

dl dt {
  font-weight: bold;
  font-size: 18pt;
  margin-top: 2em;
  margin-bottom: -.25em;
}

dl dl {
  margin-left: 2em;
  margin-top: 1em;
}

dl dl dt {
  font-weight: normal;
  font-style: italic;
  margin-top: .5em;
  margin-bottom: .3em;
}

dl dl dd {
  font-size: 13pt;
}

address {
  margin-left: 1em;
}

form td {
  padding-bottom: .5em;
}

form td.form-label {
  padding-right: .75em;
  text-align: right;
  vertical-align: middle;
}

input.form-submit-button {
  margin-top: .75em;
}

form input, form select {
  font-family: 'BonvenoCFLight';
  font-size: 13pt;
}

div#guestbook-below {
  /* Seriously, this is awful.  See nav.js. */
  position: absolute;
  top: -4000px;
  left: -4000px;
  max-width: 1000px;
}

#dsq-content {
  font-size: 13pt !important;
}

/* The important 13-point font size for dsq-content overrides h3's font-size.
 * How nice.  */
#dsq-content h3 {
  font-size: 22pt !important;
  font-family: 'BonvenoCFLight';
}

#dsq-content {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
